/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: Hind;
}


.head {
  font-weight: bold;
  font-family: Bitter;
  font-size: 140%;
  color: #333;
}
.intro {
  font-size: 120%;
  font-family: Hind;
  padding: 10px 0px 20px 0px;
  background: #EDF7F9;
}
.scaling {
  font-size: 120%;
  font-family: Hind;
  padding: 10px 0px 20px 0px;
  color: #FFFFFF;
  background: url(/images/graph-bg.jpg) no-repeat top right #000015;
}
.intro .wrapper {
  background: url(/images/quirkey-logo-bg.png) no-repeat top right;
}
.scaling .wrapper {
}
h1 {
  font-size: 140%;
  rgb(98, 90, 79);
}
h2, h3 {
  font-family: Bitter;
}
h2 {
  border-bottom: 1px solid #333;
}

.contact {
  text-align: center;
  padding: 20px;
}
.contact button {
  background-color: rgb(59,124,18);
  color: #FFF;
  font-family: Bitter;
  border: 0px;
  font-size: 120%;
  padding: 5px 30px;
  box-shadow: 6px 3px 14px 2px rgba(0,0,0,0.29);
}
.contact button:hover {
  color: rgb(59,124,18);
  background-color: #FFF;
}
.opportunities {
  padding: 20px 0px;
  background: #DBE0E6;
  font-size: 110%;
}
.opportunities em {
  font-weight: bold;
}
.skills {
  background: rgb(33, 37, 58);
  padding: 10px 0px;
  color: #fff;
}
.skills a {
  color:#FFF;
}
.skills article {
  font-size: 110%;
}
.work {
  padding: 10px 0px;
  background: rgb(231, 231, 231);
}
.about{
  background: rgb(20, 20, 25);
  padding: 10px 0px 30px;
  color: #fff;
}
.about a {
  color: #999;
}
.about article {
    margin: 0 auto;
}
footer {
  text-align: center;
  font-size: 10px;
  margin: 20px;
}
a {
  color: #333;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    aside.video iframe {
      width: inherit;
      height: inherit;
    }
}

@media only screen and (min-width: 768px) {


/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 48%;
    }

    .main aside {
        float: right;
        width: 38%;
    }

    aside.video iframe {
      width: 350px;
      height: 250px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

  aside.video iframe{
    width: 450px;
    height: 275px;
  }
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

